# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env

# OS
.DS_Store

# Logs
*.log

# Editor
.idea/
.vscode/

# Builds
dist/
build/

# Artifacts (optional to ignore if large)
artifacts/versions/*


# Data
data/*.db-shm
data/*.db-wal


