# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env

# OS
.DS_Store

# Logs
*.log

# Editor
.idea/
.vscode/

# Builds
dist/
build/

# Artifacts (optional to ignore if large)
app/artifacts/*.h5
app/artifacts/*.keras
app/artifacts/*.pkl

